nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #149b4f54;
    transform: translateY(-5px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    animation: fadeIn 1s ease-out;
}

.btn-custom {
    color: #ffffff;
    background-color: #149b4ea8;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.btn-custom:hover {
    background-color: #149b99e6;
    color: #f1f1f1;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    animation: slideUp 1s ease-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s ease-in-out;
    animation-fill-mode: forwards;
  }
  