.btn-custom {
    color: #ffffff;
    background-color: #149b4ea8;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  
  .btn-custom:hover {
    background-color: #149b99e6;
    transform: scale(1.05); 
  }
  

.nav-link.active.btn-custom {
    background-color: #149b4ea8;
    color: #ffffff;
    border: 1px solid #ffffff;
}
